<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @post.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @post.last_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @post.phone_number %>
</p>

<p>
  <strong>Company info:</strong>
  <%= @post.company_info %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
